<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="in.ty.beans.Student" id="stdId">
    <property name="Name" value="Aryan"></property>
    <property name="RollNo" value="786"></property>
    <property name="Email" value="xyz@gmail.com"></property>
    
    </bean>

</beans>